
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../ccs/stilos.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
</head>
<body> 
    
    <div class="botones" >
      <a href="./Iniciar sesion.html" type="button" class="btn btn-dark">Iniciar Sesion</button></a>
      <a href="./Registrarse.html"><button type="button" class="btn btn-dark">Registrarse</button></a>
</div>

<div class="inicio">
  <img src="https://imageshack.com/i/pnOOAYoyp" 
  alt="" width="40px" height="40px" >
        </div>
<h1>Grupo Cero</h1> 

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">

       

        
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">


              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="../Index.html">Home</a>
              </li>
         


              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Articulos
                </a>
                 <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="../Articulos/todos.html">Todos</a></li>
                  <li><a class="dropdown-item" href="../Articulos/Cuadros.html">Cuadros</a></li>
                  <li><a class="dropdown-item" href="../Articulos/Ceramicas.html">Ceramicas</a></li>
                  <!--<li><hr class="dropdown-divider"></li>-->
                  <li><a class="dropdown-item" href="../Articulos/Accsesorios.html">Accesorios</a></li>
                </ul>
              </li>




              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Artistas
                </a>
                 <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="../Artistas/Todos.html">Todos</a></li>
                  <li><a class="dropdown-item" href="../Artistas/Pedro.html">Pedro</a></li>
                  <li><a class="dropdown-item" href="../Artistas/juan.html">Juan</a></li>
                
                  <li><a class="dropdown-item" href="../Artistas/Diego.html">Diego</a></li>
                </ul>





             
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="./Nosotros.html">Nosotros</a>
              </li>

              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="./Contacto.html">Contacto</a>
              </li>

            </ul>
      
             
            </form>
          </div>
        </div>
      </nav>

<div class="nos">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc pellentesque cursus magna, a viverra lectus lacinia at. Duis tristique placerat libero, nec convallis tortor luctus vel. Praesent quis quam eget turpis mattis sodales. Fusce auctor, est ut ornare porttitor, neque leo fermentum sem, ac efficitur ex lectus ultricies metus. Etiam ex eros, consequat sit amet hendrerit ut, venenatis convallis libero. Sed ultricies mauris eget tellus sodales mattis. Phasellus lacus nisl, ultrices sed elit a, suscipit blandit augue. Phasellus et nisi pulvinar, dignissim enim non, aliquet erat. Nulla ipsum augue, rhoncus porttitor semper et, lobortis ac ligula. Donec non mi est. Praesent auctor laoreet dolor nec euismod. Pellentesque enim nisi, rutrum quis lectus at, laoreet lobortis lorem. Vivamus augue diam, viverra vel orci malesuada, tempus malesuada mauris.</p>

    <p> Integer et neque id velit sodales feugiat quis a felis. Mauris dignissim at sapien at faucibus. Mauris id sagittis turpis. Vivamus sollicitudin dictum eros, eu mollis purus suscipit ac. Nam sed tortor porttitor, commodo augue id, dignissim urna. Pellentesque sodales tempus erat, sit amet sollicitudin nisl condimentum a. In porta turpis ut mollis tempor. Duis eget mollis erat. Maecenas accumsan, neque vel tristique fringilla, risus risus dignissim ante, a fringilla velit justo eu tortor. Maecenas bibendum ullamcorper libero, ut congue odio cursus ut. Aliquam mattis felis a lacus aliquet, a tincidunt justo placerat.</p>
    
        <p>  Phasellus non volutpat quam. Quisque viverra vestibulum scelerisque. Aliquam erat volutpat. Maecenas consequat interdum nisi a egestas. Suspendisse potenti. Vestibulum laoreet finibus sollicitudin. Nulla ante magna, mollis sit amet rhoncus ut, porttitor ut odio. Vestibulum ullamcorper pretium posuere. Cras vel eros posuere, pulvinar diam id, mollis odio. Sed vestibulum ligula ut molestie tincidunt. Proin gravida tellus lectus, vitae vestibulum ipsum commodo posuere. In tincidunt, enim in blandit hendrerit, orci enim dapibus est, quis molestie eros magna eget elit. Suspendisse elementum suscipit efficitur.</p>
    
            <p> Suspendisse sagittis eros diam, et pellentesque arcu porta non. Donec auctor efficitur sapien, nec blandit dolor laoreet sit amet. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Morbi pellentesque quam non dolor feugiat tempus. Maecenas finibus id justo fermentum iaculis. Nulla ultricies ullamcorper magna, pharetra facilisis neque. Quisque justo quam, pharetra ut sapien non, feugiat vestibulum mauris. In hac habitasse platea dictumst. Cras aliquet lectus quis eleifend tempus. Pellentesque turpis turpis, luctus a leo nec, suscipit suscipit leo. Curabitur vitae velit nibh. Fusce volutpat elit ac nisi rutrum, at convallis elit commodo. Praesent cursus ipsum diam, sed rhoncus ante pretium vitae. Donec sed arcu dapibus erat rhoncus hendrerit. Integer dictum sem id sapien bibendum venenatis.</p>
    
                <p>  Aliquam non dignissim nibh. Nulla accumsan orci nisi, sit amet dignissim magna vulputate in. Suspendisse lobortis fermentum consequat. Praesent egestas ex urna, tincidunt gravida lectus sodales id. Duis viverra ac turpis vel cursus. Aliquam efficitur scelerisque lorem nec lobortis. Integer a mattis ipsum, at euismod purus. Donec id ornare dolor. In convallis facilisis ex, vitae commodo sapien.</p>
              
<img class="imgnos" src="https://picsum.photos/400/300" alt="">
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    </div>
</body>


</html>